<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AlborzBook.Properties.Settings.alborzDbConnectionString"
            connectionString="Data Source=MOHAMMAD\M_ARIA;Initial Catalog=alborzDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AlborzBook.Properties.Settings.AlborzDbConnectionString1"
            connectionString="Data Source=.;Initial Catalog=AlborzDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>